<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="utf-8">
    {% include 'bootstrap.html' %}
  </head>

  <body>
    <div id="datetimeFrom" data-datetime="{{ trip_data['date_from'] }}"></div>
    <div id="datetimeTo" data-datetime="{{ trip_data['date_to'] }}"></div>
    <div class="container">
      {% include 'header_authenticated.html' %}

      <h3 class="text-center page-header pb-3">{{ trip_data['from_name'] }} ⇄ {{ trip_data['to_name'] }}</h3>
      <img src="{{ trip_data['to_image'] }}" alt="city image" class="img-fluid pb-4" style="width: 100%; height: 500px; object-fit: cover;">
      <div class="row pt-3">
        <div class="col-6 border-end">
          <h4 class="text-center pb-3">Main city attractions</h4>
          <ul>
            {% for sight in sights %}
                <li class="border-bottom pt-3">
                    <h5>{{ sight['name'] }}</h5>
                    <p>{{ sight['address'] }}</p>
                    <p><a href="{{ sight['mapsLink'] }}" target="_blank">{{ sight['mapsLink'] }}</a></p>
                  </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-6">
          <h4 class="text-center pb-3">Plane Tickets</h4>
          <div id="departureTickets" class="container pb-3">
            <h5 id="departAirportHeader" class="text-center pb-3"><b>Choose the airport you are flying from:</b></h5>
            <ul id="departureTicketsList" style="cursor: pointer;">
              {% for airport in fromAirports %}
                <li class="border-bottom pt-3" onclick="chooseAirport('depart', '{{ airport['name'] }}', '{{ airport['code'] }}')">
                  <p class="lead">{{ airport['name'] }} ({{ airport['code'] }})</p>
                </li>
              {% endfor %}
            </ul>
            <h5 id="departureAirportPar" style="display: none;">Flying From: <b><span id="departureAirportNameSpan"></span> (<span id="departureAirportCodeSpan"></span>)</b></h5>
          </div>

          <div id="destinationTickets" class="container" style="display: none;">
            <h5 id="destAirportHeader" class="text-center lead"><b>Choose the airport you are flying to:</b></h5>
            <ul id="destinationTicketsList" style="cursor: pointer;">
              {% for airport in toAirports %}
                <li class="border-bottom pt-3" onclick="chooseAirport('dest','{{ airport['name'] }}', '{{ airport['code'] }}')">
                  <p class="lead">{{ airport['name'] }} ({{ airport['code'] }})</p>
                </li>
              {% endfor %}
            </ul>
            <h5 id="destinationAirportPar" style="display: none;">Destination Airport: <b><span id="destinationAirportNameSpan"></span> (<span id="destinationAirportCodeSpan"></span>)</b></h5>
          </div>

          <h4 id="availableTickets" class="text-center pt-2" style="display: none; color: green;">Available Tickets</h4>
          <div class="container pt-3" id="ticketsContainer" style="display: none;">
          </div>
          <div class="container d-flex  
            align-items-center  
            justify-content-center">
            <button id="ticketsResetBtn" class="btn-lg btn-primary mt-3" type="button" onclick="resetTickets()" style="display: none;">Choose different airports</button>
          </div>
        </div>
        
      </div>
      {% include 'footer.html' %}
    </div>

    <script>
      function chooseAirport(eventId, airportName, airportCode) {
        let ticketsList;
        let airportPar;
        let airportNameSpan;
        let chooseAirportHeader;
        let container;
        
        if (eventId === "depart") {
          ticketsList = document.getElementById("departureTicketsList");
          airportPar = document.getElementById("departureAirportPar");
          
          airportNameSpan = document.getElementById("departureAirportNameSpan");
          airportCodeSpan = document.getElementById("departureAirportCodeSpan");
          
          document.getElementById("destinationTickets").style.display = "block";
          chooseAirportHeader = document.getElementById("departAirportHeader");
          container = document.getElementById("departureTickets");
        }
        else {
          ticketsList = document.getElementById("destinationTicketsList");
          airportPar = document.getElementById("destinationAirportPar");
          airportNameSpan = document.getElementById("destinationAirportNameSpan");
          airportCodeSpan = document.getElementById("destinationAirportCodeSpan");
          chooseAirportHeader = document.getElementById("destAirportHeader");
          container = document.getElementById("destinationTickets");
        }

        airportNameSpan.textContent = airportName;
        airportCodeSpan.textContent = airportCode;
        ticketsList.style.display = "none";
        airportPar.style.display = "block";
        chooseAirportHeader.style.display = "none";

        if (eventId === "dest") {
          fetchTickets();
        }
      }

      function formatDate(date) {
          // Pad the month and day with leading zeros
          const formattedMonth = ('0' + (date.getMonth() + 1)).slice(-2);
          const formattedDay = ('0' + date.getDate()).slice(-2);

          // Get the year in yyyy format
          const formattedYear = date.getFullYear();

          // Construct the formatted date string
          return formattedDay + '/' + formattedMonth + '/' + formattedYear;
      }
      function resetTickets() {
        const ticketsContainer = document.getElementById("ticketsContainer");
        
        document.getElementById("availableTickets").style.display = "none";
        document.getElementById("departureAirportPar").style.display = "none";
        document.getElementById("destinationAirportPar").style.display = "none";
        
        document.getElementById("departAirportHeader").style.display = "block";
        document.getElementById("destAirportHeader").style.display = "block";
        
        document.getElementById("departureTicketsList").style.display = "block";
        document.getElementById("destinationTicketsList").style.display = "block";

        document.getElementById("ticketsResetBtn").style.display = "none";
        document.getElementById("destinationTickets").style.display = "none";
      
        
        ticketsContainer.innerHTML = "";
      
      }
      
      function fetchTickets() {
        const airportFrom = document.getElementById("departureAirportCodeSpan").textContent;
        const airportTo = document.getElementById("destinationAirportCodeSpan").textContent;
        const dateFrom = formatDate(new Date(document.getElementById('datetimeFrom').getAttribute('data-datetime')));
        const dateTo = formatDate(new Date(document.getElementById('datetimeTo').getAttribute('data-datetime')));

        fetch("/find_plane_tickets", {
          method: "POST",
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({
              cityFrom: airportFrom,
              dateFrom: dateFrom,
              dateTo: dateTo,
              cityTo: airportTo,
              curr: 'PLN'
          })
        })
        .then(response => response.json())
        .then(data => {
            displayTickets(data);
        })
        .catch(error => console.error('Error:', error));
      }

      function displayTickets(data) {
        const ticketsContainer = document.getElementById("ticketsContainer");
        
        
        if (data !== null && data.length > 0) {
          data.forEach(ticket => {
            const div = document.createElement("div");
            const dateMmDd = ticket.local_departure.split("T")[0].split("-");
            let dateDdMm = dateMmDd[2] + "/" + dateMmDd[1];
            
            const departureHour = ticket.local_departure.split("T")[1].split(".")[0];
            const arrivalHour = ticket.local_arrival.split("T")[1].split(".")[0];
            
            div.innerHTML = `
                  <div class="border row container">
                    <h5 class="pt-2">
                      ${dateDdMm}
                    </h5>
                    <div class="col-6 text-center">
                      <h4>${ticket.cityFrom} ${ticket.airportFrom}</h4>
                      <p><strong>Departure:</strong> ${departureHour}</p>
                      <hr>
                      <p><strong>Price:</strong> ${ticket.price} ${ticket.curr}</p>
                      
                    </div>
                    <div class="col-6 text-center pb-3">
                      <h4>${ticket.cityTo} ${ticket.airportTo}</h4>
                      <p><strong>Arrival:</strong> ${arrivalHour}</p>
                      <hr>
                      <a href="${ticket.bookingLink}" target="_blank"><button class="btn-primary btn-lg" type="button">Buy Now</button></a>

                    </div>
                  </div>
              `;
            ticketsContainer.appendChild(div);
          });
        }
        else {
          const p = document.createElement("p");
          p.textContent = "No tickets found for the selected airports and dates";
          p.style.color = "grey";
          p.classList.add("text-center");
          p.classList.add("lead");
          ticketsContainer.appendChild(p);
        }
        document.getElementById("availableTickets").style.display = "block";
        ticketsContainer.style.display = "block";
        document.getElementById("ticketsResetBtn").style.display = "block";      }
    </script>
    
  </body>
</html>